<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285444618426-7hj2fj61m66459f0v3ve1jq9r2nabjhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285444618426-7hj2fj61m66459f0v3ve1jq9r2nabjhd</string>
	<key>API_KEY</key>
	<string>AIzaSyBnl1q3E1aOJGI1izTXAta7XpLB0Qv-5qs</string>
	<key>GCM_SENDER_ID</key>
	<string>285444618426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skeletonApp</string>
	<key>PROJECT_ID</key>
	<string>investments-dashboard-clients</string>
	<key>STORAGE_BUCKET</key>
	<string>investments-dashboard-clients.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285444618426:ios:6c37259e3a381c8a43aa83</string>
</dict>
</plist>